@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f8f6;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  background: #f3f8f6; 
  display: flex;
  flex-wrap: wrap;
  padding: 17px 8px !important;
  align-items: center;
}

.ql-toolbar button {
  margin: 3px;
}

.ql-container {
  border-radius: 0px 0 10px 10px;
  padding: 5px;
  max-height: 65vh;
  overflow-y: auto;
}

.ql-editor {
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
  min-height: 20vh;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-left {
  text-align: left;
}
.ql-align-justify {
  text-align: justify;
}

.prose-lg h1, 
.prose-lg h2,
.prose-lg h3,
.prose-lg h4,
.prose-lg h5,
.prose-lg h6{
  color: #2c586a;
}

.prose-lg{
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.7 !important;
}

.prose-lg *{
  margin: 3px 0;
}

.prose-lg h1 {
  font-size: 2.3em;
  font-weight: 700;
  margin: 0.5em 0;
}

.prose-lg h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0.4em 0;
}

.prose-lg h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0.3em 0;
}

.prose-lg blockquote{
  background: #62767e16;
  border-left: 5px solid #62767e;
  padding: 10px;
}

.prose-lg a {
  color: #2c586a;
  text-decoration: underline;
}

@media (max-width: 768px) { 
  .prose-lg h1 {
    font-size: 1.5em;
  }

  .prose-lg h2 {
    font-size: 1.5em;
  }

  .prose-lg h3 {
    font-size: 1.3em;
  }

  .prose-lg blockquote {
    padding: 6px;
    border-left-width: 3px;
  }
}

@media (max-width: 480px) { 
  .prose-lg h1 {
    font-size: 1.1em;
  }

  .prose-lg h2 {
    font-size: 0.9em;
  }

  .prose-lg h3 {
    font-size: 0.7em;
  }

  .prose-lg p,
  .prose-lg li,
  .prose-lg blockquote {
    font-size: 16px;
    line-height: 1.5;
  }

  .prose-lg blockquote {
    padding: 4px;
    border-left-width: 2px;
  }
}
